@import url("./vendor/css/fontawesome-free-6.4.2-web/css/all.min.css");

@font-face {
    font-family: 'FontAwesome';
    src: url('./vendor/css/fontawesome-free-6.4.2-web/webfonts/fa-regular-400.ttf');
    font-weight: normal;
    font-style: normal;
}

#header {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
    column-gap: 6vw;
}

#header > i {
    font-size: 4vw;
}

input[type='text'] {
    border: none;
}

#peer-id-panel {
    display: grid;
    row-gap: 1vh;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}

#peer-id-panel > span {
    display: block;
    margin: auto;
    width: 80%;
}

#peer-id-panel > span {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: center; 
    border-radius: 5px;
    border: 3px solid #000;
}

label {
    font-size: 3.2vw;
    font-weight: bold;
}

i {
    cursor: pointer;
}

#peer-id-panel > span > * {
    margin: 2px 10px;
    font-size: 3.2vw;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    label {
        font-size: 3.6vw;
    }
    #peer-id-panel > span > * {
        font-size: 2.5vw;
    }
}

#peer-id-display {
    font-size: 3vw;
}
